{% extends "base.html" %}
{% block content %}
<section>
<div class="max-width">
    <div class="search-content">
    <center>
        {% if msg %}
            <p class="notifier-text">{{ msg }}</p>
        {% endif %}
        <table class="appt">
            <tr>
                <th>ID</th>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Appointment Date</th>
                <th>Temporary Time</th>
                <th>Fixed Time</th>
                <th>Submit</th>
            </tr>
            {% for appointment in appointments.appointments %}
            <tr>
                {% if not appointment.app_date %}
                    <form action="{% url 'accounts:appointments' %}" method="post">
                    {% csrf_token %}
                    <td><input type="text" name="booking_id" value="{{appointment.id}}" style="border: 0px; outline: 0px;" size="2" readonly></td>
                    <td>{{appointment.name}}</td>
                    <td>{{appointment.age}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time}}</td>
                    <td><input type="time" name="time" required></td>
                    <td><input type="submit" value="Book" class="apptBook"></td>
                    </form>
                {% else %}
                    <td>{{appointment.id}}</td>
                    <td>{{appointment.name}}</td>
                    <td>{{appointment.age}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time}}</td>
                    <td>{{appointment.app_date}}</td>
                    <td>Booked</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <a class="search-doctor" href="home/" style="margin-bottom: 200px;">Go to Home page!</a>
    </center>
    </div>
    </div>
</section>
{% endblock content %}